@media (max-width: 1701px) {
  .container {
    max-width: 1350px;
  }
  header .navbar .navbar-brand img {
    max-height: 45px;
  }
  header .navbar #navbarScroll ul li a {
    padding: 0 15px;
    font-size: 14px;
  }
  .mt_header_height {
    margin-top: -130px;
  }
  .action_button_wrap .btn.medium_padding {
    padding: 14px 20px;
  }
  h1,
  .h1 {
    font-size: 50px;
    line-height: 60px;
  }
  h2,
  .h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .product_box .product_info .product_title h6 {
    font-size: 16px;
    line-height: 22px;
  }
  .product_box .product_info .good_fair_price span {
    font-size: 13px;
  }
  .cart_product_list_wrapper {
    padding: 20px 20px 20px 0;
  }
  .cart_total_wrapper {
    padding: 20px;
  }
  .cart_action li a {
    font-size: 0;
  }
  .jewellery_box_wrapper .jewellery_img_wrapper a img {
    height: 290px;
  }
  .customize_ring_steps .customize_ring_step h3 {
    font-size: 18px;
  }
  .diamond_detail_contemt_wrap {
    .action_button_wrap {
      .btn_cart {
        font-size: 0;
        padding: 0 !important;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-right: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
  header .navbar .navbar-brand img {
    max-height: 43px;
  }
  header .navbar #navbarScroll ul li a {
    padding: 0 10px;
    font-size: 13px;
  }
  header .navbar .form-control {
    padding: 7px 15px 7px 50px;
    max-width: 170px;
    background-size: 16px !important;
  }
  .btn.btn-sm {
    padding: 8px 18px;
  }
  .user_dropdown .dropdown-toggle img {
    width: 42px;
    height: 42px;
  }
  header {
    padding: 20px 0;
  }
  .mt_header_height {
    margin-top: -84px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  h1,
  .h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
  }
  h2,
  .h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }
  h3,
  .h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
  }
  h4,
  .h4 {
    font-size: 24px;
    line-height: 32px;
  }
  h5,
  .h5 {
    font-size: 20px;
    line-height: 28px;
  }
  .number_slide .number_slide_inner h3 {
    font-size: 23px;
  }
  .number_wrapper {
    padding-bottom: 220px;
  }
  .number_wrapper:before {
    right: -80px;
    bottom: 110px;
    width: 500px;
    height: 440px;
    background-size: 500px;
  }
  .check_input_wraper ul li .radio_wrapper .form-check .form-check-label {
    padding: 11px 25px;
  }
  .accordion.accordian_design_two
    .accordion-item
    .accordion-header
    .accordion-button {
    font-size: 17px;
    line-height: 20px;
  }
  .filter_box h6 {
    font-size: 16px;
  }
  .filter_inner_wrapper .accordion.accordian_design_two .accordion-item {
    padding: 0;
  }
  .mlauto-xl {
    margin-left: auto;
  }
  .mrauto-xl {
    margin-right: auto;
  }
  .jewellery_box_wrapper .jewellery_img_wrapper a img {
    height: 240px;
  }
  .jewellary_banner {
    padding: 180px 0 110px;
    margin-top: -84px;
  }
  .customize_ring_steps .customize_ring_step h3 {
    font-size: 16px;
    padding: 10px 15px;
    width: calc(100% - 150px);
  }
  .customize_ring_steps .customize_ring_step .step_icon {
    padding: 10px;
    width: 150px;
  }
  .customize_ring_steps .customize_ring_step h3 span {
    font-size: 50px;
    line-height: 55px;
  }
}

@media (max-width: 1200px) {
  .banner_wrapper .banner_slide img {
    height: 600px;
  }
  .right_header_wrap {
    margin-left: auto;
    margin-right: 20px;
  }
  header {
    .navbar {
      form {
        margin-left: auto;
      }
      #navbarScroll {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 300px;
        height: 100vh;
        transition: 0.5s ease;
        align-items: self-start;
        z-index: 999;
        &.show {
          left: -300px;
        }
        ul {
          flex-direction: column;
          margin: 0;
          width: 100%;
          li {
            a {
              color: $textDark !important;
              font-size: 16px;
              padding: 10px 0 !important;
              display: block;
            }
          }
        }
      }
    }
  }
  .swiper .swiper-button-next {
    right: 15px;
  }
  .swiper .swiper-button-prev {
    left: 15px;
  }
  .btn.medium_padding {
    padding: 12px 25px;
  }
  .jewelary_category_box .jewelary_category_img {
    height: 375px;
  }
  .diamond_slider_wrapper .swiper .swiper-slide {
    min-height: 440px;
  }
  .diamond_process_slider_wrapper .diamond_process_slider {
    padding-bottom: 80px;
  }
  .about_video_Wrapper .video_img {
    height: 420px;
    margin-top: -40px;
    margin-bottom: -40px;
  }
  .number_wrapper {
    padding-bottom: 170px;
  }
  .charity_slider_wrapper {
    padding-right: 0px;
  }
  .accordion.accordian_design_one
    .accordion-item
    .accordion-header
    .accordion-button {
    font-size: 18px;
    line-height: 24px;
  }
  .number_slider_inner .swiper {
    padding-bottom: 70px;
  }
  .number_slider_inner .swiper .swiper-button-prev {
    left: calc(50% - 70px);
    top: inherit;
    bottom: 0;
  }
  .number_slider_inner .swiper .swiper-button-next {
    right: calc(50% - 70px);
    top: inherit;
    bottom: 0;
  }
  .filter_by_list ul li.filter_button_wrap {
    display: block;
  }
  .cart_product_list_wrapper,
  .cart_total_wrapper {
    padding: 0;
  }
  .jewellary_banner,
  .about_banner {
    padding: 160px 0 100px;
    margin-top: -84px;
  }
  .customize_ring_steps .customize_ring_step {
    flex-wrap: wrap;
  }
  .customize_ring_steps .customize_ring_step h3 {
    justify-content: center;
    width: 100%;
  }
  .customize_ring_steps .customize_ring_step h3 span {
    font-size: 40px;
    line-height: 55px;
  }
  .customize_ring_steps .customize_ring_step .step_icon {
    display: none;
  }
}

@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
  h1,
  .h1 {
    font-size: 40px;
    line-height: 48px;
  }
  h2,
  .h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3,
  .h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4,
  .h4 {
    font-size: 22px;
    line-height: 30px;
  }
  h5,
  .h5 {
    font-size: 18px;
    line-height: 24px;
  }
  h6,
  .h6 {
    font-size: 16px;
    line-height: 22px;
  }
  .home_two_wrapper .home_two_text {
    text-align: center;
    margin: 50px auto 0;
    padding: 0 20px;
  }
  .quick_search_box .search_button_wrap {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 20px;
  }
  .check_input_wraper ul {
    gap: 7px;
  }
  .check_input_wraper ul li .checkbox_wrapper .form-check .form-check-label {
    padding: 8px 13px;
    font-size: 14px;
    min-width: 39px;
  }
  .search_inner_wrap {
    flex-wrap: wrap;
  }
  .search_inner_wrap .search_label {
    width: 100%;
    margin: 0 0 15px;
  }
  .search_inner_wrap .search_content {
    width: 100%;
  }
  .btn {
    padding: 10px 20px;
  }
  .btn.btn-outline-primary {
    padding: 10px 20px;
  }
  .shape_select ul li .custom_checkbox_shape label svg {
    width: 45px;
    height: 45px;
  }
  .home_two_img {
    padding-right: 15px;
  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    width: 46px;
    height: 46px;
  }
  .swiper .swiper-button-prev:after,
  .swiper .swiper-button-next:after {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
  .jewelary_category_box .jewelary_category_img {
    height: 320px;
  }
  .why_choose_us .why_choose_slider_wrapper .swiper .swiper-button-prev {
    left: calc(50% - 70px);
    top: inherit;
    bottom: 0;
    background: $primaryGradient;
  }
  .why_choose_us .why_choose_slider_wrapper .swiper .swiper-button-next {
    right: calc(50% - 70px);
    top: inherit;
    bottom: 0;
    background: $primaryGradient;
  }
  .why_choose_us .why_choose_slider_wrapper .swiper {
    padding-bottom: 80px;
  }
  .why_choose_us:before {
    display: none;
  }
  .why_choose_us h2 {
    color: #fff;
  }
  .diamond_process_slider_wrapper .diamond_process_slider {
    padding-bottom: 90px;
  }
  .about_video_Wrapper .video_img {
    height: 420px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .charty_text_wrapper {
    text-align: center;
  }
  .app_wrapper .app_text_wrapper {
    padding: 170px 30px 60px 15px;
  }
  .app_wrapper .app_text_wrapper .app_text_wrapper_inner {
    max-width: 100%;
    text-align: center;
  }
  .app_wrapper .app_img_wrapper img {
    margin-bottom: -140px;
    max-width: 350px;
    margin-top: 0;
  }
  .app_wrapper .app_img_wrapper:before {
    display: none;
  }
  .app_wrapper .app_img_wrapper {
    z-index: 9;
  }
}
@media (max-width: 767px) {
  .diamond_process_slider_wrapper .diamond_process_slider .process_slide {
    max-width: calc(100% - 60px);
  }
  .diamond_process.jewelary_process h2 {
    color: #fff;
  }
  .jewelry_img_wrap {
    margin-top: 30px;
  }
  .jewelry_img_wrap img {
    width: 100%;
  }
  .number_wrapper {
    padding-bottom: 110px;
  }
  .filter_by_list ul li.filter_button_wrap .btn-outline-secondary {
    font-size: 0;
    padding: 12px 20px;
    img {
      margin-left: 0 !important;
    }
  }
  .filter_by_list ul {
    flex-wrap: wrap;
  }
  .pagination_Wrapper p {
    text-align: center;
  }
  .pagination_Wrapper ul {
    justify-content: center;
    flex-wrap: wrap;
    li {
      padding: 0 10px;
      margin-top: 10px;
    }
  }
  .diamond_cart_box .diamond_product_info .diamond_img_cart {
    width: 60px;
    img {
      height: 60px;
    }
  }
  .diamond_cart_box .diamond_product_info .diamond_text_cart {
    padding-left: 15px;
    width: calc(100% - 60px);
  }
  .compare_inner_wrapper .comapre_title_box {
    display: none;
  }
  .compare_box h6 span {
    opacity: 1;
    visibility: visible;
  }
  .compare_box ul li span {
    display: inline-block;
    font-weight: 500;
    color: $textDark;
    margin-right: 10px;
  }
  .compare_box ul li {
    font-size: 14px;
    line-height: 22px;
  }
  .jewellery_top_Wrapper .filter_button_wrap .btn-outline-secondary {
    font-size: 0;
    img {
      margin-left: 0 !important;
    }
  }
  .customize_ring_steps .customize_ring_step h3 {
    font-size: 0;
    span.mobile_text {
      font-size: 20px;
      display: block;
      line-height: 28px;
      margin-right: 0;
    }
  }
}
@media (max-width: 575px) {
  header .navbar form {
    display: none;
  }
  header .navbar .button_right_wrapper {
    margin-left: auto !important;
  }
  .button_group {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
  }
  h1,
  .h1 {
    font-size: 38px;
    line-height: 42px;
  }
  h2,
  .h2 {
    font-size: 28px;
    line-height: 36px;
  }
  h3,
  .h3 {
    font-size: 22px;
    line-height: 30px;
  }
  h4,
  .h4 {
    font-size: 20px;
    line-height: 28px;
  }
  h5,
  .h5 {
    font-size: 17px;
    line-height: 22px;
  }
  h6,
  .h6 {
    font-size: 16px;
    line-height: 22px;
  }
  .btn {
    font-size: 14px;
  }
  .btn.medium_padding {
    padding: 10px 25px;
  }
  .diamond_slider_wrapper .swiper .swiper-slide .shape_slide_wrapper {
    padding-top: 20px;
  }
  .diamond_slider_wrapper
    .swiper
    .swiper-slide.swiper-slide-active
    .shape_slide_wrapper
    .shape_text
    h5 {
    margin-top: 40px;
  }
  .diamond_slider_wrapper .swiper .swiper-slide {
    min-height: 360px;
  }
  .banner_wrapper .banner_slide .banner_text {
    bottom: 40px;
  }
  .tab_design_two .nav-tabs .nav-item .nav-link {
    padding: 10px 10px;
    font-size: 14px;
  }
  .accordion.accordian_design_one
    .accordion-item
    .accordion-header
    .accordion-button {
    font-size: 16px;
    line-height: 22px;
  }
  footer .main_footer .footer_link_wrapper {
    padding: 140px 0 30px;
  }
  .banner_wrapper .banner_slide img {
    height: 380px;
  }
  .diamond_process_slider_wrapper .diamond_process_slider .process_slide {
    max-width: 100%;
  }
  .number_wrapper {
    padding-bottom: 80px;
  }
  .action_button_wrap .btn-outline-primary {
    font-size: 0;
    img {
      margin-right: 0;
    }
  }
  .filter_by_list ul li:last-child {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .action_button_wrap .btn.medium_padding {
    padding: 10px 20px;
  }
  .filter_by_list ul li .list_grid_button .btn-outline-secondary {
    font-size: 14px;
  }
  .filter_by_list ul li .list_grid_button {
    margin-right: 10px;
  }
  .form-select,
  .form-control {
    padding: 12px 20px;
    font-size: 14px;
  }
  .drop_hint a {
    justify-content: flex-start;
    margin-top: 15px;
  }
  .diamond_info_table ul li {
    font-size: 14px;
  }
  .diamond_info_table {
    padding: 15px;
  }
  .diamond_cart_box,
  .jewelary_cart_box {
    position: relative;
  }
  .diamond_cart_box .diamond_cart_total_wrap .diamond_cart_total {
    width: calc(100% - 75px);
    padding-right: 0;
    margin-left: auto;
    margin-top: 10px;
  }
  .cart_product_list_wrapper .delete_btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .diamond_cart_items,
  .jewellery_cart_items {
    padding: 15px;
  }
  .jewelary_cart_box > h6 {
    padding-right: 90px;
  }
  .cart_product_list_wrapper .jewellery_cart_items .delete_btn {
    position: relative;
    right: 0;
    top: 0;
  }
  .jewelary_cart_box .cart_action {
    position: absolute;
    right: 10px;
    top: 10px;
    li {
      margin-right: 5px !important;
    }
  }
  .jewelary_cart_box .jewellery_product_info .jewellery_img_cart {
    width: 60px;
    height: 55px;
  }
  .jewelary_cart_box .total_wrap {
    width: calc(100% - 75px);
    margin-left: auto;
  }
  .jewellery_top_Wrapper .total_filter_button {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .jewellery_top_Wrapper ul.select_filter_wrap li {
    max-width: 100%;
    margin-left: 0;
  }
  .customize_ring_steps .customize_ring_step h3 span.mobile_text {
    font-size: 16px;
    line-height: 24px;
  }
  .customize_ring_steps .customize_ring_step h3 span {
    font-size: 34px;
    line-height: 38px;
  }
  .customize_ring_steps .customize_ring_step {
    border-radius: 7px;
  }
  .engagement_ring_setting ul li .ring_setting_radio label img {
    height: 40px;
    width: 40px;
  }
  .engagement_ring_setting ul li .ring_setting_radio label {
    width: 90px;
    height: 90px;
    padding: 5px;
    font-size: 13px;
  }
  .engagement_ring_setting ul li {
    margin: 0 3px;
  }
  .review_form_wrap {
    padding: 15px;
  }
  .jewellery_price_wrapper,
  .jewellery_detail_right,
  .description_wrapper {
    padding: 15px;
  }
  ul.size_Radio li {
    margin-right: 5px;
  }
}

@media (max-width: 481px) {
  .quick_search_box {
    padding: 15px;
  }
  .search_inner_wrap {
    margin-bottom: 20px;
  }
  .about_video_Wrapper .video_img {
    height: 260px;
  }
  footer
    .newsletter_wrapper
    .newsletter_wrapper_inner
    .newsletter_wrapper_form
    .newsletter_Form_wrap
    form {
    flex-direction: column;
    gap: 15px;
    .form_group_wrap {
      width: 100%;
      margin-right: 0;
    }
    .btn-primary {
      width: 100%;
    }
  }
  .product_box {
    padding: 10px;
  }
  .additional_detail_box table tbody tr td {
    font-size: 14px;
    padding: 7px 12px;
  }
  .fs_20 {
    font-size: 18px !important;
  }
  .fs_28 {
    font-size: 22px !important;
  }
  .jewelary_cart_box > h6 {
    font-size: 14px;
    line-height: 22px;
  }
  .fs_22 {
    font-size: 18px !important;
    line-height: 24px;
  }
  .customize_ring_steps .customize_ring_step h3 span {
    font-size: 28px;
    line-height: 32px;
  }
  .customize_ring_steps .customize_ring_step h3 span {
    margin-right: 6px;
  }
  .btn.btn_round {
    width: 45px;
    height: 45px;
  }
  .diamond_detail_contemt_wrap .action_button_wrap .btn_cart {
    width: 45px;
    height: 45px;
  }
  .user_review_box p {
    font-size: 14px;
    line-height: 22px;
  }
  .share_button .btn-link {
    font-size: 14px;
  }
  .input_box_wrapper ul li {
    max-width: 47%;
    flex-grow: 1;
  }
}
@media (max-width: 411px) {
  .engagement_ring_setting ul li .ring_setting_radio label {
    width: 70px;
    height: 70px;
    font-size: 11px;
  }
  header .navbar #navbarScroll {
    max-width: 260px;
  }
}
@media (max-width: 381px) {
  header .navbar .navbar-brand img {
    max-height: 37px;
  }
}
